.todo {
  width: 600px;
  min-height: 732px;
  border-radius: 20px;
  background: #fff;
  margin: auto;
  margin-top: 174px;
  display: flex;
  flex-direction: column;
  padding: 0 44px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}

.todo-header {
  margin-top: 84px;
  font-size: 36px;
  color: #002765;
  font-weight: 600;
  line-height: 34px;
}

.todo-add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
}

.todo-input {
  border-radius: 50px;
  padding-left: 35px;
  font-size: 20px;
  width: 576px;
  height: 80px;
  background: #edeef0;
  border: 0;
  outline: 0;
}

.todo-add-btn {
  border-radius: 50px;
  background: #ff6739;
  color: hsl(0, 0%, 100%);
  margin-left: -100px;
  height: 80px;
  width: 174px;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
